{% extends "base.html" %}
{% block title %}All Products{% endblock %}

{% block content %}
<h2>Home</h2>
{% for product in products %}
  <div style="border: 1px solid black; padding: 5px; margin: 5px; ">
  <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
    <h4><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
    <p>{{ product.description|slice:":100" }}...</p>
    <p>Rs. {{ product.price }}</p>
    
    <a href="{% url 'buy_now' product.id%}"><Button>Buy Now</Button></a>
    <a href="{% url 'add_to_cart' product.id %}"><Button>Add to Cart</Button></a>
  </div>
{% endfor %}
{% endblock %}

